<div class="field grid">
    <label for="firstname3" class="col-fixed font-semibold" style="width:150px">{{to.label}} <span
            *ngIf="to.required">*</span></label>
    <div class="col">
        <p-dropdown [options]="listOptions" [formControl]="formControl" [formlyAttributes]="field"
            [autoDisplayFirst]="false"
            [ngClass]="{'ng-pristine ng-invalid ng-star-inserted ng-dirty ng-touched': (formControl.touched && formControl.getError('required')) }"
            optionLabel="label" optionValue="value" [appendTo]="'body'" className="w-full text-base text-color
          surface-overlay p-2 border-1 border-solid
           surface-border border-round outline-none
            focus:border-primary" style="appearance: auto" [filter]="true" filterBy="label">
        </p-dropdown>
    </div>
</div>